{% extends "core/schedule.html" %}

{% block selectedTab4 %} class="tabs-selected"{% endblock %}

{% block section %}Schedule{% endblock %}
{% block title %}Create Schedule{% endblock %}

{% block content %}

<script type="text/javascript">
	$(function() {
		$("#event_date").datepicker(
        {
            showOn:             'button',
            buttonImage:        '/static/images/icons/calendar.png',
            buttonImageOnly:    true,
            showAnim:           'slideDown',
            duration:           'fast'
        }		
		);
	});
</script>

<h2 class="title">Home Rink Schedule</h2>

<p class="help">
	<img src="/static/images/icons/information.png" style="float:right;" />
	This interface allows you to fill in your team's home rink schedule. Make sure the dates and times you enter have been reserved for your team. You have to select game type, rink, date, time and press "Save" to save your rink time slot and make it available for other teams to pick. Once the away team picks one of the time slots you have entered, you will be notified by email and have a chance to either confirm the game or reject it. Once another team schedules a game for one of your time slots you will not be able to delete it anymore.
</p>

<h3 class="subtitle">Home Rink Schedule</h3>
<form id="create_event">
	<table cellspacing="5">
		<tr>
			<th>Game Type</th>			
			<th>Rink</th>
			<th>Date</th>
			<th>Time</th>	
		</tr>
		<tr id="create_form">
			<td>
				<select id="event_type" name="event_type">
				<option value="0">- Select Type -</option>
				{% for object in event_types %}
					<option value="{{ object.id }}">{{ object.name }}</option>
				{% endfor %}
				</select>
			</td>
			<td>
				<select id="event_rink" name="event_rink">
				<option value="0">- Select Rink -</option>
				{% for object in rinks %}
					<option value="{{ object.id }}">{{ object.name }}</option>
				{% endfor %}
				</select>
			</td>			
			<td><input id="event_date" type="text" size="8" name="event_date" value=""/></td>
			<td>
				<select id="event_hour" name="event_hour">
					<option value="01">01</option>
					<option value="02">02</option>
					<option value="03">03</option>
					<option value="04">04</option>
					<option value="05">05</option>
					<option value="06">06</option>
					<option value="07">07</option>
					<option value="08">08</option>
					<option value="09">09</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
				</select>		
				:
				<select id="event_minute" name="event_minute">
					<option value="00">00</option>
					<option value="05">05</option>
					<option value="10">10</option>
					<option value="15">15</option>
					<option value="20">20</option>
					<option value="25">25</option>
					<option value="30">30</option>
					<option value="35">35</option>
					<option value="40">40</option>
					<option value="45">45</option>
					<option value="50">50</option>
					<option value="55">55</option>
				</select>						
				<select id="event_am" name="event_am">
					<option value="PM">PM</option>
					<option value="AM">AM</option>
				</select>						
			</td>			
			<td><input type="button" name="save_event" id="save_event" value="Save" onClick="saveTimeSlot()"/></td>						
		</tr>	
		{% for object in events %}
			<tr id="event_object_{{ object.id }}">
				<td>{{ object.eventType }}</td>
				<td>{{ object.rink }}</td>
				<td>{{ object.dateTimeEvent|date:"M j, Y" }}</td>
				<td>{{ object.dateTimeEvent|date:"h:i A" }}</td>
				<td>
					<input type='button' name='edit_event' id='edit_event' value='Edit' onClick='editTimeSlot({{ object.id }})'/>
					<input type='button' name='delete_event' id='delete_event' value='Delete' onClick='deleteTimeSlot({{ object.id }})'/>
				</td>		
			</tr>
		{% endfor %}
	</table>
</form>

{% endblock %}
