{% extends "core/schedule.html" %}

{% block selectedTab3 %} class="tabs-selected"{% endblock %}

{% block section %}Schedule{% endblock %}
{% block title %}Matchups{% endblock %}

{% block content %}

<p style="font-size:110%">
	<!-- Current Season Status: <b>{{ currentSeason.seasonStatus }}</b><br/>-->
	<b>Your team is: <a href="{{ user.get_profile.team.get_absolute_url }}" style="color:red">{{ user.get_profile.team }}</a></b>
</p>

<h3 class="subtitle">Seeding Matchups ({{ currentSeason }})</h3>
{% if seedingMatchups %}
<table style="width:100%;" class="records">
	<tr>
		<th>Home Team</th>
		<th>Away Team</th>
		<th>Status</th>
	</tr>
	{% for object in seedingMatchups %}
	<tr class="{% cycle 'row1' 'row2' %}">			
		{% ifequal object.matchup.homeTeam user.get_profile.team %}
			<td><a href="{{ object.matchup.homeTeam.get_absolute_url }}" style="color:red">{{ object.matchup.homeTeam }}</a></td>
		{% else %}
			<td><a href="{{ object.matchup.homeTeam.get_absolute_url }}">{{ object.matchup.homeTeam }}</a></td>
		{% endifequal %}
		{% ifequal object.matchup.awayTeam user.get_profile.team %}
			<td><a href="{{ object.matchup.awayTeam.get_absolute_url }}" style="color:red">{{ object.matchup.awayTeam }}</a></td>
		{% else %}
			<td><a href="{{ object.matchup.awayTeam.get_absolute_url }}">{{ object.matchup.awayTeam }}</a></td>
		{% endifequal %}
		
		{% ifequal object.status "pickdate" %}
			<td>Pick Date and Time:
				<form style="display:inline;">
				<select name='matchup_id_{{ object.matchup.id }}' id='matchup_id_{{ object.matchup.id }}'>
				{% for event in object.events %}
                    <option value="{{ event.id }}">{{ event }}</option>
                {% endfor %}
                </select> <input type='button' name='request_date' value='Request' onClick='requestDateTime({{ object.matchup.id }})'/>
                </form>
			</td>
		{% else %}
			<td>{{ object.status }}</td>
		{% endifequal %}
	</tr>	
	{% endfor %}
</table>	
{% else %}
	Matchups for seeding round have not been generated yet.
{% endif %}

<h3 class="subtitle">Season Matchups ({{ currentSeason }})</h3>
{% if seasonMatchups %}
<table style="width:100%;" class="records">
	<tr>
		<th>Home Team</th>
		<th>Away Team</th>
		<th>Status</th>
	</tr>
	{% for object in seasonMatchups %}
	<tr class="{% cycle 'row1' 'row2' %}">			
		<td><a href="{{ object.homeTeam.get_absolute_url }}">{{ object.homeTeam }}</a></td>
		<td><a href="{{ object.awayTeam.get_absolute_url }}">{{ object.awayTeam }}</a></td>
		<td>{{ object }}</td>
	</tr>	
	{% endfor %}
</table>	
{% else %}
	Matchups for regular season have not been generated yet.
{% endif %}
	
{% endblock %}
