{% extends "core/schedule.html" %}

{% block selectedTab3 %} class="tabs-selected"{% endblock %}

{% block section %}Schedule{% endblock %}
{% block title %}Matchups{% endblock %}

{% block content %}

<h2 class="title">My Team's Matchups</h2>

<p class="help" style="margin-bottom: 20px;">
	<img src="/static/images/icons/information.png" style="float:right;" />
	On this screen you can schedule games with other teams, confirm or reject game requests from other teams, and check the status of your match ups for seeding and season rounds.
</p>

<p style="font-size:110%">
	<!-- Current Season Status: <b>{{ currentSeason.seasonStatus }}</b><br/>-->
	<b>Your team is: <a href="{{ user.get_profile.team.get_absolute_url }}" style="color:red">{{ user.get_profile.team }}</a></b>
</p>

<h3 class="subtitle">Seeding Matchups ({{ currentSeason }})</h3>
{% if seedingMatchups %}
<table style="width:100%;" class="records">
	<tr>
		<th>Home Team</th>
		<th>Away Team</th>
		<th>Status</th>
	</tr>
	{% for object in seedingMatchups %}
	<tr class="{% cycle 'row1' 'row2' %}">			
		{% ifequal object.matchup.homeTeam user.get_profile.team %}
			<td><a href="{{ object.matchup.homeTeam.get_absolute_url }}" style="color:red">{{ object.matchup.homeTeam }}</a></td>
		{% else %}
			<td><a href="{{ object.matchup.homeTeam.get_absolute_url }}">{{ object.matchup.homeTeam }}</a></td>
		{% endifequal %}
		{% ifequal object.matchup.awayTeam user.get_profile.team %}
			<td><a href="{{ object.matchup.awayTeam.get_absolute_url }}" style="color:red">{{ object.matchup.awayTeam }}</a></td>
		{% else %}
			<td><a href="{{ object.matchup.awayTeam.get_absolute_url }}">{{ object.matchup.awayTeam }}</a></td>
		{% endifequal %}
		
		{% ifequal object.status "pickdate" %}
			<td id="matchup_td_{{ object.matchup.id }}">Pick Date and Time:
				<form style="display:inline;">
				<select name="matchup_select_{{ object.matchup.id }}" id="matchup_select_{{ object.matchup.id }}">
				{% for event in object.events %}
                    <option value="{{ event.id }}">{{ event }}</option>
                {% endfor %}
                </select> <input type='button' name='request_date' value='Request' onClick='requestDateTime({{ object.matchup.id }})'/>
                </form>
			</td>
		{% else %}
			{% ifequal object.status "requesthome" %}
				<td id="matchup_td_{{ object.matchup.id }}">
					Request for <b>{{ object.event }}</b>.
					<form style="display:inline;">
					<input type='button' name='request_confirm' value='Confirm' onClick='requestConfirm({{ object.matchup.id }}, {{ object.event.id }})'/>
					<input type='button' name='request_reject' value='Reject' onClick='requestReject({{ object.matchup.id }}, {{ object.event.id }})'/>
	                </form>
				</td>
			{% else %}
				{% ifequal object.status "requestaway" %}
					<td id="matchup_td_{{ object.matchup.id }}">Game requested on <b>{{ object.event }}</b> at <a href="{{ object.event.rink.get_absolute_url }}">{{ object.event.rink }}</a>.</td>
				{% else %}
					{% ifequal object.status "confirmed" %}
						<td id="matchup_td_{{ object.matchup.id }}">Confirmed for <b>{{ object.event }}</b> at <a href="{{ object.event.rink.get_absolute_url }}">{{ object.event.rink }}</a>.</td>
					{% else %}
						{% ifequal object.status "completed" %}
							<td id="matchup_td_{{ object.matchup.id }}"><b>Completed.</b></td>
						{% else %}
							<td>{{ object.status }}</td>
						{% endifequal %}
					{% endifequal %}
				{% endifequal %}
			{% endifequal %}
		{% endifequal %}
	</tr>	
	{% endfor %}
</table>	
{% else %}
	Matchups for seeding round have not been generated yet.
{% endif %}

<h3 class="subtitle">Season Matchups ({{ currentSeason }})</h3>
{% if seasonMatchups %}
<table style="width:100%;" class="records">
	<tr>
		<th>Home Team</th>
		<th>Away Team</th>
		<th>Status</th>
	</tr>
	{% for object in seasonMatchups %}
	<tr class="{% cycle 'row1' 'row2' %}">			
		{% ifequal object.matchup.homeTeam user.get_profile.team %}
			<td><a href="{{ object.matchup.homeTeam.get_absolute_url }}" style="color:red">{{ object.matchup.homeTeam }}</a></td>
		{% else %}
			<td><a href="{{ object.matchup.homeTeam.get_absolute_url }}">{{ object.matchup.homeTeam }}</a></td>
		{% endifequal %}
		{% ifequal object.matchup.awayTeam user.get_profile.team %}
			<td><a href="{{ object.matchup.awayTeam.get_absolute_url }}" style="color:red">{{ object.matchup.awayTeam }}</a></td>
		{% else %}
			<td><a href="{{ object.matchup.awayTeam.get_absolute_url }}">{{ object.matchup.awayTeam }}</a></td>
		{% endifequal %}
		
		{% ifequal object.status "pickdate" %}
			<td id="matchup_td_{{ object.matchup.id }}">Pick Date and Time:
				<form style="display:inline;">
				<select name="matchup_select_{{ object.matchup.id }}" id="matchup_select_{{ object.matchup.id }}">
				{% for event in object.events %}
                    <option value="{{ event.id }}">{{ event }}</option>
                {% endfor %}
                </select> <input type='button' name='request_date' value='Request' onClick='requestDateTime({{ object.matchup.id }})'/>
                </form>
			</td>
		{% else %}
			{% ifequal object.status "requesthome" %}
				<td id="matchup_td_{{ object.matchup.id }}">
					Request for <b>{{ object.event }}</b>.
					<form style="display:inline;">
					<input type='button' name='request_confirm' value='Confirm' onClick='requestConfirm({{ object.matchup.id }}, {{ object.event.id }})'/>
					<input type='button' name='request_reject' value='Reject' onClick='requestReject({{ object.matchup.id }}, {{ object.event.id }})'/>
	                </form>
				</td>
			{% else %}
				{% ifequal object.status "requestaway" %}
					<td id="matchup_td_{{ object.matchup.id }}">Game requested on <b>{{ object.event }}</b> at <a href="{{ object.event.rink.get_absolute_url }}">{{ object.event.rink }}</a>.</td>
				{% else %}
					{% ifequal object.status "confirmed" %}
						<td id="matchup_td_{{ object.matchup.id }}">Confirmed for <b>{{ object.event }}</b> at <a href="{{ object.event.rink.get_absolute_url }}">{{ object.event.rink }}</a>.</td>
					{% else %}
						{% ifequal object.status "completed" %}
							<td id="matchup_td_{{ object.matchup.id }}"><b>Completed.</b></td>
						{% else %}
							<td>{{ object.status }}</td>
						{% endifequal %}
					{% endifequal %}
				{% endifequal %}
			{% endifequal %}
		{% endifequal %}
	</tr>	
	{% endfor %}
</table>
{% else %}
	Matchups for regular season have not been generated yet.
{% endif %}
	
{% endblock %}
