{% extends "core/schedule.html" %}

{% block selectedTab2 %} class="tabs-selected"{% endblock %}

{% block section %}Schedule{% endblock %}
{% block title %}Recent Games{% endblock %}

{% block content %}

<div style="margin: 10px;">
	<h3 class="subtitle">Recent Games</h3>
	{% if events %}
	<table style="width:100%;" class="records">
		<tr>
			<th colspan="2">Game</th>
			<th>Date and Time</th>
			<th>Rink</th>		
			<th>Status</th>
			<th>Score</th>
		</tr>
		{% for object in events %}
		<tr class="{% cycle 'row1' 'row2' %}">			
			<td><a href="/stats/event/{{ object.id }}"><img src="/static/images/icons/application_view_list.png" title="View Stats" /></a></td>
			<td><a href="/stats/event/{{ object.id }}">{{ object.homeTeam }} <i>v.</i> {{ object.awayTeam }}</a></td>
			<td>{{ object.dateTimeEvent|date:"M j, Y m:i A" }}</td>
			<td><a href="{{ object.rink.get_absolute_url }}">{{ object.rink }}</a></td>		
			<td>{{ object.eventStatus }}</td>
			<td>{{ object.score }}</td>
		</tr>	
		{% endfor %}
	</table>	
	{% else %}
		No Recent Games
	{% endif %}
</div>

{% endblock %}
