{% extends "base.html" %}

{% block section %}NIHL{% endblock %}
{% block title %}Password reset successful{% endblock %}

{% block content %}

	<p class="title">Password reset successful</p>
	<div class="view">
        <div class="view_container" name="objectView" id="objectView">
  
            <fieldset>
                <legend class="primary first">Password reset successful</legend>
			    <ul>
                    <li><p style="margin:20px;">We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly.</p></li>
		        </ul>
	        </fieldset> 	
	        
            <div class="actions">
                <p class="action-links">
                    <a href="/accounts/login">Return to Login Screen</a>
                </p>
            </div>

    	</div>
	</div>

{% endblock %}
