{% extends "base.html" %}

{% block section %}NIHL{% endblock %}
{% block title %}Enter new password{% endblock %}

{% block content %}

<div style="text-align:center;">
	{% if form.errors %}
	<p style="color:red;margin-bottom:20px;">Unable to reset password.</p>
	{% endif %}

    <div class='styled' style='width:400px;'>
    <form class="styled validate" method="post" action="">
        <fieldset>
    	    <legend class="primary first">Enter new password</legend>
    	    <p class="instructions" style="text-align:left;">Please enter your new password twice so we can verify you typed it in correctly.</p>
            <ul>
            	{{ form.as_ul }}
            </ul>
        </fieldset>
        <div class="submit">
            <p class="submit-buttons">
				<input type="submit" value="Change my password" />	
            </p>
        </div>
    </form>
    </div>
</div>

{% endblock %}
