{% extends "core/stats.html" %}
{% load coretags %}

{% block selectedTab4 %} class="tabs-selected"{% endblock %}

{% block section %}Record Stats{% endblock %}
{% block title %}Record Stats{% endblock %}

{% block content %}

<h2 class="title">Record Stats: <a href="{{ event.homeTeam.get_absolute_url }}">{{ event.homeTeam }}</a> <i>v.</i> <a href="{{ event.awayTeam.get_absolute_url }}">{{ event.awayTeam }}</a></h2>
<p style="text-align:center; position:relative; top:-5px; margin-bottom:20px;">
	<span style="margin-right:30px"><b>Game Type:</b> {{ event.eventType }}</span>
	<span style="margin-right:30px"><b>Game Date/Time:</b> {{ event.dateTimeEvent|date:"M j, Y m:i A" }}</span>
	<span><b>Rink:</b> <a href="{{ event.rink.get_absolute_url }}">{{ event.rink }}</a></span>
</p>

<p class="help">
** @todo: Help and description of what is going on goes here - we're recording stats for a game **
</p>

<form id="record_event" method="post" target="" style="width: 100%">
<input type="hidden" name="event_id" id="event_id" value="{{ event.id }}" />

<h3 class="subtitle">Referees</h3>
<table>
	<tr>
		<th>Full Name</th>
		<th>Level</th>
		<th>IHOA No.</th>				
	</tr>
	<tr>
		<td><input type="text" name="referee1Name" size="25" maxlength="30" id="referee1Name" value="{{ eventStats.referee1Name }}" /></td>
		<td><input type="text" name="referee1Level" size="5" maxlength="30" id="referee1Level" value="{{ eventStats.referee1Level }}" /></td>
		<td><input type="text" name="referee1IHOANum" size="5" maxlength="30" id="referee1IHOANum" value="{{ eventStats.referee1IHOANum }}" /></td>				
	</tr>	
	<tr>
		<td><input type="text" name="referee2Name" size="25" maxlength="30" id="referee2Name" value="{{ eventStats.referee2Name }}" /></td>
		<td><input type="text" name="referee2Level" size="5" maxlength="30" id="referee2Level" value="{{ eventStats.referee2Level }}" /></td>
		<td><input type="text" name="referee2IHOANum" size="5" maxlength="30" id="referee2IHOANum" value="{{ eventStats.referee2IHOANum }}" /></td>				
	</tr>	
	<tr>
		<td><input type="text" name="referee3Name" size="25" maxlength="30" id="referee3Name" value="{{ eventStats.referee3Name }}" /></td>
		<td><input type="text" name="referee3Level" size="5" maxlength="30" id="referee3Level" value="{{ eventStats.referee3Level }}" /></td>
		<td><input type="text" name="referee3IHOANum" size="5" maxlength="30" id="referee3IHOANum" value="{{ eventStats.referee3IHOANum }}" /></td>				
	</tr>			
</table>

<h3 class="subtitle">Goals</h3>
<table cellspacing="5">
	<tr>
		<th>Team</th>
		<th>Player</th>			
		<th>Period</th>
		<th>Time</th>	
	</tr>
	<tr id="goals">
		<td>
			<select id="goal_team" name="goal_team">
			<option value="0">- Select Team -</option>
			{% for object in teams %}
				<option value="{{ object.id }}">{{ object.name }}</option>
			{% endfor %}
			</select>
		</td>
		<td>
			<input id="goal_player" type="text" size="8" name="goal_player"/>
		</td>			
		<td>
			<select id="goal_period" name="goal_period">
				<option value="0">- Select Period -</option>
				<option value="1">1st Period</option>
				<option value="2">2nd Period</option>
				<option value="3">3rd Period</option>
				<option value="4">Overtime</option>
			</select>
		</td>
		<td>
			<input id="goal_time_minute" type="text" size="2" maxlength="2" name="goal_time_minute"/>:<input id="goal_time_second" type="text" size="2" maxlength="2" name="goal_time_second"/>
		</td>
		<td><input type="button" name="save_goal" id="save_goal" value="Save Goal" onClick="saveGoal()"/></td>		
	</tr>
	{% for object in goals %}
	<tr id="goal_object_{{ object.id }}">
		<td>{{ object.team }}</td>
		<td>{{ object.player }}</td>			
		<td>{{ object.period|formatPeriod }}</td>
		<td>{{ object.time|date:"i:s" }}</td>
		<td>
			<input type='button' name='edit_goal' id='edit_goal' value='Edit' onClick='editGoal({{ object.id }})'/>
			<input type='button' name='delete_goal' id='delete_goal' value='Delete' onClick='deleteGoal({{ object.id }})'/>
		</td>		
	</tr>		
	{% endfor %}
</table>

<h3 class="subtitle">Penalties</h3>
<table cellspacing="5">
	<tr>
		<th>Team</th>
		<th>Player</th>			
		<th>Period</th>
		<th>Penalty Time</th>	
		<th>Penalty Offense</th>	
		<th>Time ON</th>	
		<th>Time OFF</th>	
	</tr>
	<tr id="penalties">
		<td>
			<select id="penalty_team" name="penalty_team">
			<option value="0">- Select Team -</option>
			{% for object in teams %}
				<option value="{{ object.id }}">{{ object.name }}</option>
			{% endfor %}
			</select>
		</td>
		<td>
			<input id="penalty_player" type="text" size="8" name="penalty_player"/>
		</td>			
		<td>
			<select id="penalty_period" name="penalty_period">
				<option value="0">- Select Period -</option>
				<option value="1">1st Period</option>
				<option value="2">2nd Period</option>
				<option value="3">3rd Period</option>
				<option value="4">Overtime</option>
			</select>
		</td>
		<td>
			<input id="penalty_time_minute" type="text" size="2" name="penalty_time_minute"/>:<input id="penalty_time_second" type="text" size="2" name="penalty_time_second"/>
		</td>
		<td>
			<select id="penalty_offense" name="penalty_offense">
			<option value="0">- Select Offense -</option>
			{% for object in penaltyOffenses %}
				<option value="{{ object.id }}">{{ object.name }}</option>
			{% endfor %}
			</select>
		</td>	
		<td>
			<input id="penalty_time_on_minute" type="text" size="2" name="penalty_time_on_minute"/>:<input id="penalty_time_on_second" type="text" size="2" name="penalty_time_on_second"/>
		</td>
		<td>
			<input id="penalty_time_off_minute" type="text" size="2" name="penalty_time_off_minute"/>:<input id="penalty_time_off_second" type="text" size="2" name="penalty_time_off_second"/>
		</td>								
		<td><input type="button" name="penalty_goal" id="penalty_goal" value="Save Penalty" onClick="savePenalty()"/></td>		
	</tr>	
	{% for object in penalties %}
	<tr id="penalty_object_{{ object.id }}">
		<td>{{ object.team }}</td>
		<td>{{ object.player }}</td>			
		<td>{{ object.period|formatPeriod }}</td>
		<td>{{ object.penaltyTime|date:"i:s" }}</td>
		<td>{{ object.penaltyOffense }}</td>
		<td>{{ object.timeOn|date:"i:s" }}</td>
		<td>{{ object.timeOff|date:"i:s" }}</td>
		<td>
			<input type='button' name='edit_penalty' id='edit_penalty' value='Edit' onClick='editPenalty({{ object.id }})'/>
			<input type='button' name='delete_penalty' id='delete_penalty' value='Delete' onClick='deletePenalty({{ object.id }})'/>
		</td>		
	</tr>		
	{% endfor %}	
</table>

<h3 class="subtitle">Suspensions</h3>
<table cellspacing="5">
	<tr>
		<th>Team</th>
		<th>Player</th>			
		<th>Player's Last Name</th>
	</tr>
	<tr id="suspensions">
		<td>
			<select id="suspension_team" name="suspension_team">
			<option value="0">- Select Team -</option>
			{% for object in teams %}
				<option value="{{ object.id }}">{{ object.name }}</option>
			{% endfor %}
			</select>
		</td>
		<td>
			<input id="suspension_player" type="text" size="8" name="suspension_player"/>
		</td>			
		<td>
			<input id="suspension_player_lastname" type="text" size="15" maxlength="30" name="suspension_player_lastname"/>
		</td>							
		<td><input type="button" name="save_suspension" id="save_suspension" value="Save Suspension" onClick="saveSuspension()"/></td>		
	</tr>
	{% for object in suspensions %}
	<tr id="suspension_object_{{ object.id }}">
		<td>{{ object.team }}</td>
		<td>{{ object.player }}</td>			
		<td>{{ object.playerLastName }}</td>
		<td>
			<input type='button' name='edit_suspension' id='edit_suspension' value='Edit' onClick='editSuspension({{ object.id }})'/>
			<input type='button' name='delete_suspension' id='delete_suspension' value='Delete' onClick='deleteSuspension({{ object.id }})'/>
		</td>		
	</tr>		
	{% endfor %}
</table>

<h3 class="subtitle">Goalkeeper Saves</h3>
<table cellspacing="5">
	<tr>
		<th>Team</th>
		<th>Player</th>			
		<th>1st Period</th>
		<th>2nd Period</th>
		<th>3rd Period</th>
		<th>Overtime</th>
	</tr>
	<tr id="saves">
		<td>
			<select id="saves_team" name="saves_team">
			<option value="0">- Select Team -</option>
			{% for object in teams %}
				<option value="{{ object.id }}">{{ object.name }}</option>
			{% endfor %}
			</select>
		</td>
		<td>
			<input id="saves_player" type="text" size="8" name="saves_player"/>
		</td>			
		<td>
			<input id="saves_1st" type="text" size="8" name="saves_1st"/>
		</td>				
		<td>
			<input id="saves_2nd" type="text" size="8" name="saves_2nd"/>
		</td>	
		<td>
			<input id="saves_3rd" type="text" size="8" name="saves_3rd"/>
		</td>	
		<td>
			<input id="saves_ot" type="text" size="8" name="saves_ot"/>
		</td>													
		<td><input type="button" name="save_saves" id="save_saves" value="Save Goalkeeper" onClick="saveGoalkeeperSaves()"/></td>		
	</tr>
	{% for object in goalkeepersaves %}
	<tr id="saves_object_{{ object.id }}">
		<td>{{ object.team }}</td>
		<td>{{ object.player }}</td>			
		<td>{{ object.firstPeriodSaves }}</td>
		<td>{{ object.secondPeriodSaves }}</td>
		<td>{{ object.thirdPeriodSaves }}</td>
		<td>{{ object.overtimeSaves }}</td>
		<td>
			<input type='button' name='edit_saves' id='edit_saves' value='Edit' onClick='editGoalkeeperSaves({{ object.id }})'/>
			<input type='button' name='delete_saves' id='delete_saves' value='Delete' onClick='deleteGoalkeeperSaves({{ object.id }})'/>
		</td>		
	</tr>		
	{% endfor %}	
</table>
	
<div style="margin-left: 10px; margin-top: 20px; margin-bottom: 20px;">
	<input type="checkbox" name="majorPenaltiesAssessed" id="majorPenaltiesAssessed" value="on" 
	{% if eventStats.majorPenaltiesAssessed %}
		checked
	{% endif %} /> Major Penalties Assessed
</div>

<div style="margin: 10px; text-align: center;">
	<input type="submit" name="submitStats" id="submitStats" value="Record Event Stats" />
</div>

</form>

{% endblock %}
