{% extends "core/stats.html" %}

{% block selectedTab4 %} class="tabs-selected"{% endblock %}

{% block section %}Record Stats{% endblock %}
{% block title %}Record Stats{% endblock %}

{% block content %}

<div style="margin: 10px;">
	<h3 class="subtitle">Games for Statistics Entry</h3>
	<table style="width:100%;" class="records">
		<tr>
			<th colspan="2">Game</th>
			<th>Date and Time</th>
			<th>Rink</th>	
			<th>Status</th>
			<th>Score</th>		
		</tr>
		{% for object in confirmedEvents %}
		<tr class="{% cycle 'row1' 'row2' %}">
			<td><a href="/stats/record/event/{{ object.id }}"><img src="/static/images/icons/application_edit.png" title="Record Stats" /></a></td>
			<td><a href="/stats/record/event/{{ object.id }}">{{ object.homeTeam }} <i>v.</i> {{ object.awayTeam }}</a></td>
			<td>{{ object.dateTimeEvent|date:"M j, Y m:i A" }}</td>
			<td><a href="{{ object.rink.get_absolute_url }}">{{ object.rink }}</a></td>		
			<td>{{ object.eventStatus }}</td>	
			<td>{{ object.score }}</td>
		</tr>	
		{% endfor %}
	</table>
</div>

<div style="margin: 10px;">
	<h3 class="subtitle">Past Due Games (stats were not entered within {{ hourLimit }} hours)</h3>
	<table style="width:100%;" class="records">
		<tr>
			<th colspan="2">Game</th>
			<th>Date and Time</th>
			<th>Rink</th>		
			<th>Status</th>		
			<th>Score</th>	
		</tr>
		{% for object in pastdueEvents %}
		<tr class="{% cycle 'row1' 'row2' %}">
			<td><a href="/stats/record/event/{{ object.id }}"><img src="/static/images/icons/application_edit.png" title="Record Stats" /></a></td>
			<td><a href="/stats/record/event/{{ object.id }}">{{ object.homeTeam }} <i>v.</i> {{ object.awayTeam }}</a></td>
			<td>{{ object.dateTimeEvent|date:"M j, Y m:i A" }}</td>
			<td><a href="{{ object.rink.get_absolute_url }}">{{ object.rink }}</a></td>		
			<td>{{ object.eventStatus }}</td>	
			<td>{{ object.score }}</td>
		</tr>	
		{% endfor %}
	</table>		
</div>

<div style="margin: 10px;">
	<h3 class="subtitle">Completed Games ({{ currentSeason }})</h3>
	<table style="width:100%;" class="records">
		<tr>
			<th colspan="2">Game</th>
			<th>Date and Time</th>
			<th>Rink</th>		
			<th>Status</th>		
			<th>Score</th>	
		</tr>
		{% for object in completedEvents %}
		<tr class="{% cycle 'row1' 'row2' %}">
			{% if object.canEdit %}
				<td><a href="/stats/record/event/{{ object.id }}"><img src="/static/images/icons/application_edit.png" title="Record Stats" /></a></td>
				<td><a href="/stats/record/event/{{ object.id }}">{{ object.homeTeam }} <i>v.</i> {{ object.awayTeam }}</a></td>
			{% else %}				
				<td><a href="/stats/event/{{ object.id }}"><img src="/static/images/icons/application_view_list.png" title="View Stats" /></a></td>
				<td><a href="/stats/event/{{ object.id }}">{{ object.homeTeam }} <i>v.</i> {{ object.awayTeam }}</a></td>
			{% endif %}
			<td>{{ object.dateTimeEvent|date:"M j, Y m:i A" }}</td>
			<td><a href="{{ object.rink.get_absolute_url }}">{{ object.rink }}</a></td>		
			<td>{{ object.eventStatus }}</td>	
			<td>{{ object.score }}</td>
		</tr>	
		{% endfor %}
	</table>	
</div>

{% endblock %}
