{% extends "core/stats.html" %}

{% block selectedTab1 %} class="tabs-selected"{% endblock %}

{% block section %}Stats{% endblock %}
{% block title %}Summary{% endblock %}

{% block content %}

<!-- <h2 class="title">Summary</h2> -->

<!--<h3 class="subtitle">Narrow Teams By</h3>-->

<!--<div class="rounded-corner-container" style="width:100%;">
	<b class="rt"><b class="r1"></b> <b class="r2"></b> <b class="r3"></b> <b class="r4"></b></b>-->
		
	<form name="filter" action="" method="get">
		<!-- filter options -->
		<table style="width:225px;border:0px;margin-bottom:9px;margin-left:15px;margin-right:15px;margin-top:6px;">
		<tr>
			<td><span style="font-weight:bold;font-size:11pt;">Narrow Teams by Division</span></td>
		</tr>
		<tr>
			<td>
				<select name="division" size="1" style="width:210px;">
					<!--<option value='0'>- Any Division -</option>-->
					{% for division in divisions %}
					<option value="{{division.id}}" 
					{% for filter in division_filter %}
					{% ifequal division.id filter %}
					selected
					{% endifequal %}
					{% endfor %}
					>{{division.name}}</option>
					{% endfor %}
				</select>
			</td>	
		</tr>
		<tr>
				<td style="padding-top:10px;text-align: right;">
					<input type="submit" value="Apply Filter" style="margin-right:10px;" />
					<input type="button" value="Clear Filter" style="margin-right:10px;" onClick="window.location='/stats'" />
				</td>
			</tr>
		</table>
	</form>
	
	<b class="rb"><b class="r4"></b> <b class="r3"></b> <b class="r2"></b> <b class="r1"></b></b>
<!--</div>-->

<h3 class="subtitle">Team Statistics</h3>
{% if not stats %}
<div style="text-align:center;margin-top:20px;border:2px dashed #eeeeee;">
	Please select a division to sort by.
</div>
{% else %}
{% for club in clubs %}
<div style="width:445px; height:240px; float:{% cycle 'right' 'left' %};">
<h3 style="text-align:center; border-bottom:1px solid #cccccc;">{{ club.name }}</h3>
<table style="width:425px; margin: 5px" class="records">
	<tr>
		<th style="width:30%;"><span title="Team Name">Team</span></th>
		<th style="width:20%;"><span title="Team Level">Level</span></th>	
		<th style="width:12.5%; text-align:right;"><span title="Games Played">GP</span></th>
		<th style="width:12.5%; text-align:right;"><span title="Wins">Wins</span></th>
		<th style="width:12.5%; text-align:right;"><span title="Losses">Losses</span></th>
		<th style="width:12.5%; text-align:right;"><span title="Ties">Ties</span></th>
	</tr>
</table>
<div style="width:445px; height:175px; overflow:auto;">
<table style="width: 425px; margin: 5px;" class="records">
	{% for team in stats %}
		{% ifequal club team.teamClub %}
		<tr class="{% cycle 'row1' 'row2' %}">
			<td style="width:30%"><a href="/teams/detail/{{ team.teamId }}">{{ team.teamName }}</a></td>
			<td style="width:20%"><a href="?{{ query_string }}&level={{ team.teamLevel }}">{{ team.teamLevel }}</a></td>
			<td style="width:12.5%; text-align:right;">{{ team.gamesPlayed }}</td>
			<td style="width:12.5%; text-align:right;">{{ team.wins }}</td>
			<td style="width:12.5%; text-align:right;">{{ team.losses }}</td>
			<td style="width:12.5%; text-align:right;">{{ team.ties }}</td>
		</tr>
		{% endifequal %}
	{% endfor %}
</table>
</div>
</div>
{% endfor %}

<!--<div style="text-align:center;margin-top:50px;">
	<a href="{{url}}">Permalink</a>
</div>-->
{% endif %}

{% endblock %}
