{% extends "core/stats.html" %}

{% block selectedTab1 %} class="tabs-selected"{% endblock %}

{% block section %}Stats{% endblock %}
{% block title %}Summary{% endblock %}

{% block content %}

<div style="text-align:center;">
	Add multiple options, remove options that would not contribute
</div>

<form name="filter" action="" method="get">
	Division:
	<select name="division" size="3" multiple="multiple">
		<option value='0'>Any</option>
		{% for division in divisions %}
		<option value="{{division.id}}">{{division.name}}</option>
		{% endfor %}
	</select>
	
	Level:
	<select name="level" >
		<option value='0'>Any</option>
		{% for level in levels %}
		<option value="{{level.id}}">{{level.name}}</option>
		{% endfor %}
	</select>
	
	Club:
	<select name="club" >
		<option value='0'>Any</option>
		{% for club in clubs %}
		<option value="{{club.id}}">{{club.name}}</option>
		{% endfor %}
	</select>
	
	Team:
	<select name="team" >
		<option value='0'>Any</option>
		{% for team in teams %}
		<option value="{{team.id}}">{{team.name}}</option>
		{% endfor %}
	</select>
	
	<input type="submit" value="Filter" />
</form>

<table style="width:100%;">
	<tr>
		<th>teamName</th>
		<th>gamesPlayed</th>
		<th>wins</th>
		<th>losses</th>
		<th>ties</th>
		<th>points</th>
		<th>goalsFor</th>
		<th>goalsAgainst</th>
		<th>plusMinus</th>
		<th>shotsOnGoal</th>
		<th>totalPenaltyMinutes</th>
		<th>goalsForAverage</th>
		<th>average</th>
	</tr>
	{% for team in stats %}
	<tr>
		<td>{{ team.teamName }}</td>
		<td>{{ team.gamesPlayed }}</td>
		<td>{{ team.wins }}</td>
		<td>{{ team.losses }}</td>
		<td>{{ team.ties }}</td>
		<td>{{ team.points }}</td>
		<td>{{ team.goalsFor }}</td>
		<td>{{ team.goalsAgainst }}</td>
		<td>{{ team.plusMinus }}</td>
		<td>{{ team.shotsOnGoal }}</td>
		<td>{{ team.totalPenaltyMinutes }}</td>
		<td>{{ team.goalsForAverage }}</td>
		<td>{{ team.average }}</td>
	</tr>
	{% endfor %}
</table>

<div style="text-align:center;">
<a href="{{url}}">Permalink</a>
</div>

{% endblock %}
