{% extends "core/generic_list.html" %}

{% load sorting_tags %}

{% block title %}Clubs{% endblock %}
{% block createTitle %}Create Club{% endblock %}

{% block selectedTabClubs %} class="selected"{% endblock %}

{% block listHeader %}
	<th>{% anchor name %}</th>
    <th>{% anchor address %}</th>
    <th>{% anchor city %}</th>
    <th>{% anchor state %}</th>
    <th>{% anchor zip %}</th>
    <th>{% anchor contactName "Contact Name" %}</th>
{% endblock %}

{% block listRow %}
	<td><a href="detail/{{ object.pk }}">{{ object.name }}</a></td>
	<td>{{ object.address }}</td>
	<td>{{ object.city }}</td>
	<td>{{ object.state }}</td>
    <td>{{ object.zip }}</td>
    <td>{{ object.contactName }}</td>
{% endblock %}
