{% extends "core/generic_detail.html" %}

{% block title %}Clubs{% endblock %}
{% block detailTitle %}Club Detail{% endblock %}
{% block detailName %}{{ object.name }}{% endblock %}

{% block selectedTabClubs %} class="selected"{% endblock %}

{% block detailView %}
	<fieldset>
	    <legend class="primary">Club Detail</legend>
	    <ul>
	        <li><label>Club Name:</label><span>{{ object.name }}</span></li>
	    </ul>
	</fieldset> 	     	        
	
	<fieldset>
	    <legend class="primary">Club Address</legend>
	    <ul>
	        <li><label>Address:</label><span>{{ object.address }}</span><div class="vd" /></li>
	        <li><label>State:</label><span>{{ object.state }}</span><div class="vd" /></li>
	        <li><label>Zipcode:</label><span>{{ object.zip }}</span></li>
	    </ul>
	</fieldset> 	

	<fieldset>
	    <legend class="primary">Club Contact</legend>
	    <ul>
	        <li><label>Contact Name:</label><span>{{ object.contactName }}</span><div class="vd" /></li>
	        <li><label>Contact Email:</label><span>{{ object.contactEmail }}</span><div class="vd" /></li>
	        <li><label>Contact Phone:</label><span>{{ object.contactPhone }}</span></li>
	    </ul>
	</fieldset> 	
	
	<fieldset>
	    <legend class="primary">Teams</legend>
	      <table style="width:100%;">
			<tr>
				<th>Team Detail</th>
				<th>Division</th>
				<th>Skill</th>
				<th>Coach</th>
				<th>Manager</th>
			</tr>
			{% for team in team_queryset %}
			<tr>
				<td><a href="/teams/detail/{{ team.pk }}">View</a></td>
				<td>{{ team.division }}</td>
				<td>{{ team.skillLevel }}</td>
				<td>{{ team.coachName}}</td>
				<td>{{ team.managerName}}</td>
			</tr>
			{% endfor %}
		</table>
	</fieldset> 

	<div class="actions">
	    <p class="action-links">
	        <a href="../create">Create Club</a> | <a href="../update/{{ object.pk }}">Update Club</a> | <a href="..">List Clubs</a>
	    </p>
	</div>
{% endblock %}
