{% extends "core/generic_detail.html" %}

{% block title %}Clubs{% endblock %}
{% block detailTitle %}Club Detail{% endblock %}
{% block detailName %}{{ object.name }}{% endblock %}

{% block selectedTabClubs %} class="selected"{% endblock %}

{% block detailView %}

	<div id="clubDetails" style="float:right; border:1px solid #ccc; width:40%;">
		<h3 class="primary" style="font-weight:normal;">Team Detail</h3>
		<table>
			<tr><td style="font-weight:bold">Address:</td><td>{{ object.address }}, {{ object.state }} {{ object.zip }}</td></tr>
			<tr><td style="font-weight:bold">Contact Name:</td><td>{{ object.contactName }}</td></tr>
			<tr><td style="font-weight:bold">Contact Email:</td><td>{{ object.contactEmail }}</td></tr>
			<tr><td style="font-weight:bold">Contact Phone:</td><td>{{ object.contactPhone }}</td></tr>
		</table>
	</div>
	
	<div id="clubTeams" style="float:left; border:1px solid #ccc; width:59%;">
		<table style="width:100%;">
			<tr style="background:#dedede;">
				<th>Team Name</th>
				<th>Division</th>
				<th>Skill</th>
				<th>Coach</th>
				<th>Manager</th>
			</tr>
			{% for team in team_queryset %}
			<tr style="background:#efefef">
				<td><a href="/teams/detail/{{ team.pk }}">{{ team.name }}</a></td>
				<td>{{ team.division }}</td>
				<td>{{ team.skillLevel }}</td>
				<td>{{ team.coachName}}</td>
				<td>{{ team.managerName}}</td>
			</tr>
			{% endfor %}
		</table>
</div>

	<div class="actions">
	    <p class="action-links">
	        <a href="../create">Create Club</a> | <a href="../update/{{ object.pk }}">Update Club</a> | <a href="..">List Clubs</a>
	    </p>
	</div>
{% endblock %}
