{% extends "core/generic_detail.html" %}

{% block title %}Divisions{% endblock %}
{% block detailTitle %}Division Detail{% endblock %}
{% block detailName %}{{ object.name }}{% endblock %}

{% block selectedTabDivisions %} class="selected"{% endblock %}

{% block detailView %}

 <div id="divisionDetails" style="float:right; border:1px solid #ccc; width:35%;">
 <h3 class="primary" style="font-weight:normal;">Division Contact</h3>
 	<table>
		<tr><td style="font-weight:bold">Contact Name</td><td>{{ object.contactName }}</td>
		<tr><td style="font-weight:bold">Contact Email</td><td>{{ object.contactEmail }}</td>
		<tr><td style="font-weight:bold">Contact Phone</td><td>{{ object.contactPhone }}</td>
	</table>
 </div>

	<div id="divisionClubs" style="float:left; border:1px solid #ccc; width:64%; height:300px; overflow:auto;">
		<table style="width:100%;">
			<tr style="background:#cccccc;">
				<th>Team Name</th>
				<th>Division</th>
				<th>Skill</th>
				<th>Coach</th>
				<th>Manager</th>
			</tr>
			{% for team in team_queryset %}
			<tr class="{% cycle 'row1' 'row2' %}">
				<td><a href="/teams/detail/{{ team.pk }}">{{ team.name }}</a></td>
				<td>{{ team.division }}</td>
				<td>{{ team.skillLevel }}</td>
				<td>{{ team.coachName}}</td>
				<td>{{ team.managerName}}</td>
			</tr>
			{% endfor %}
		</table>
	</div>

	{% if user.is_authenticated %}
	<div class="actions">
	    <p class="action-links">
	        <a href="../create">Create Division</a> | <a href="../update/{{ object.pk }}">Update Division</a> | <a href="..">List Divisions</a>
	    </p>
	</div>
	{% endif %}
{% endblock %}
