{% extends "base.html" %}

{% block section %}NIHL{% endblock %}
{% block title %}Model{% endblock %}

{% block content %}

{% block extraContent %}{% endblock %}

<div class="object-list-menu">
	<a href="create/">{% block createTitle %}Create Model{% endblock %}</a>
</div>
<table class="object-list-table">
	<tr>
		<th></th>
		{% block listHeader %}{% endblock %}         
	</tr>

	{% for object in object_list %}
	<tr>
		<td class="object-list-item-menu-td">
			<span class="object-list-item-menu">
				<a href="detail/{{ object.pk }}">View</a>
                <a href="update/{{ object.pk }}">Update</a>
                <a href="delete/{{ object.pk }}">Delete</a>
			</span>
		</td>
		{% block listRow %}{% endblock %}            
	</tr>	
	{% endfor %}
</table>

<p class="object-list-pagination">
	{% if has_previous %}
		<a href="?page={{ previous }}">Previous</a> | 
	{% endif %}
	
	Page {{ page }} of {{ pages }} 
	
	{% if has_next %}
		| <a href="?page={{ next }}">Next</a>
	{% endif %}
</p>

{% endblock %}
