{% extends "base.html" %}

{% block selectedTabHome %} class="selected"{% endblock %}

{% block css %}<link rel="stylesheet" type="text/css" href="/static/css/somespecialcssfileforthispage.css" media="all" />{% endblock %}

{% block section %}Home{% endblock %}

{% block tabs %}
	<ul class="tabs-nav">
	    <li{% block selectedTab1 %}{% endblock %}><a href="/"><span>Summary</span></a></li>
	    <li{% block selectedTab2 %}{% endblock %}><a href="/home/deadlines"><span>Deadlines</span></a></li>
	    <li{% block selectedTab3 %}{% endblock %}><a href="/stats/"><span>Teams</span></a></li>
	    
	    <li{% block selectedTab5 %}{% endblock %}><a href="/help/faq"><span>F.A.Q.</span></a></li>
	</ul>
{% endblock %}
