{% extends "core/generic_detail.html" %}

{% block title %}Rinks{% endblock %}
{% block detailTitle %}Rink Detail{% endblock %}
{% block detailName %}{{ object.name }}{% endblock %}

{% block selectedTabRinks %} class="selected"{% endblock %}

{% block detailView %}
	<fieldset>
	    <legend class="primary">Rink Detail</legend>
	    <ul>
	        <li><label>Rink Name:</label><span>{{ object.name }}</span></li>
	    </ul>
	</fieldset> 	     	        
	
	<fieldset>
	    <legend class="primary">Rink Address</legend>
	    <ul>
	        <li><label>Address:</label><span>{{ object.address }}</span><div class="vd" /></li>
	        <li><label>State:</label><span>{{ object.state }}</span><div class="vd" /></li>
	        <li><label>Zipcode:</label><span>{{ object.zip }}</span></li>
	    </ul>
	</fieldset> 	

	<fieldset>
	    <legend class="primary">Rink Contact</legend>
	    <ul>
	        <li><label>Contact Name:</label><span>{{ object.contactName }}</span><div class="vd" /></li>
	        <li><label>Contact Email:</label><span>{{ object.contactEmail }}</span><div class="vd" /></li>
	        <li><label>Contact Phone:</label><span>{{ object.contactPhone }}</span></li>
	    </ul>
	</fieldset> 	

	<div class="actions">
	    <p class="action-links">
	        <a href="../create">Create Rink</a> | <a href="../update/{{ object.pk }}">Update Rink</a> | <a href="..">List Rinks</a>
	    </p>
	</div>
{% endblock %}
