{% extends "core/generic_detail.html" %}

{% block title %}Rinks{% endblock %}
{% block detailTitle %}Rink Detail{% endblock %}
{% block detailName %}{{ object.name }}{% endblock %}

{% block selectedTabRinks %} class="selected"{% endblock %}

{% block detailView %}
	<div id="rinkDetails" style="float:right; border:1px solid #ccc; width:40%;">
		<!-- grab more images fromhttp://www.nihl.info/membersites.html if need! -->
		<h3 class="primary" style="font-weight:normal;">Team Detail</h3>
		<table>
			<tr><td style="font-weight:bold">Rink Name:</td><td>{% autoescape on %}{{ object.name }}{% endautoescape %}</td></tr>
		</table>
		
		<br />
		
		<h3 class="primary" style="font-weight:normal;">Rink Address</h3>
		<table>
			<tr><td style="font-weight:bold">Address:</td><td>{{ object.address }}, {{ object.state }} {{ object.zip }}</td></tr>
			{% ifnotequal object.arenaMapsURL "" %}
				<tr><td style="font-weight:bold">Map:</td><td><a href="{{ object.arenaMapsURL }}" title="Map Link">Link</a></td></tr>
			{% else %}
				<tr><td style="font-weight:bold">Map:</td><td>No Map Provided</a></td></tr>
			{% endifnotequal %}

		</table>
		
	
			<br />
		
		<h3 class="primary" style="font-weight:normal;">Rink Contact</h3>
		<table>
			<tr><td style="font-weight:bold">Name:</td><td>{{ object.contactName }}</td></tr>
			<tr><td style="font-weight:bold">Email:</td><td>{{ object.contactEmail }}</td></tr>
			<tr><td style="font-weight:bold">Phone:</td><td>{{ object.contactPhone }}</td></tr>
		</table>
	</div>
	{% if user.is_authenticated %}
	<div class="actions">
	    <p class="action-links">
	        <a href="../create">Create Rink</a> | <a href="../update/{{ object.pk }}">Update Rink</a> | <a href="..">List Rinks</a>
	    </p>
	</div>
	{% endif %}

{% endblock %}
