{% extends "core/generic_detail.html" %}

{% block title %}Seasons{% endblock %}
{% block detailTitle %}Season Detail{% endblock %}
{% block detailName %}{{ object.year }}{% endblock %}

{% block selectedTabSeasons %} class="selected"{% endblock %}

{% block detailView %}
	<fieldset>
	    <legend class="primary">Season Detail</legend>
	    <ul>
			{% for rink in rinks %}
	        <li><label>Rink Name:</label><span>{{ rink.name }}</span></li>
				{% endfor %}
	    </ul>
	</fieldset> 	     	        
	


	<div class="actions">
	    <p class="action-links">
	        <a href="../create">Create Season</a> | <a href="../update/{{ object.pk }}">Update Season</a> | <a href="..">List Seasons</a>
	    </p>
	</div>
{% endblock %}
