{% extends "core/generic_list.html" %}

{% load sorting_tags %}

{% block title %}Seasons{% endblock %}
{% block createTitle %}Create Season{% endblock %}

{% block selectedTabSeasons %} class="selected"{% endblock %}

{% block extraContent %}
<h3 class="subtitle">Current Season</h3>
<p>
	<span>Year: {{ currentSeason.year }}</span><br/>
	<span style="white-space: nowrap">
		Status:
		{% ifequal currentSeason.seasonStatus.name "Preparation" %}
			<a href="/seasons/stage1">Preparation</a> &gt; 
		{% else %}
			<span style="color: #999">Preparation</span> &gt; 
		{% endifequal %}
		
		{% ifequal currentSeason.seasonStatus.name "Scheduling Seeding Games" %}
			<a href="/seasons/stage2">Scheduling Seeding Games</a> &gt; 
		{% else %}
			<span style="color: #999">Scheduling Seeding Games</span> &gt; 
		{% endifequal %}		
		
		{% ifequal currentSeason.seasonStatus.name "Seeding Games" %}
			<a href="/seasons/stage3">Seeding Games</a> &gt; 
		{% else %}
			<span style="color: #999">Seeding Games</span> &gt; 
		{% endifequal %}		

		{% ifequal currentSeason.seasonStatus.name "Scheduling Season Games" %}
			<a href="/seasons/stage4">Scheduling Season Games</a> &gt; 
		{% else %}
			<span style="color: #999">Scheduling Season Games</span> &gt; 
		{% endifequal %}	
		
		{% ifequal currentSeason.seasonStatus.name "Season Games" %}
			<a href="/seasons/stage5">Season Games</a> &gt; 
		{% else %}
			<span style="color: #999">Season Games</span> &gt; 
		{% endifequal %}	
				
		{% ifequal currentSeason.seasonStatus.name "Completed" %}
			Completed
		{% else %}
			<span style="color: #999">Completed</span>
		{% endifequal %}
	</span>
</p>

<h3 class="subtitle">Manage Seasons</h3>
{% endblock %}

{% block listHeader %}
	<th>{% anchor year %}</th>
    <th>{% anchor seedingBeginDate "Seeding Start Date" %}</th>
    <th>{% anchor seasonEnd "Season End Date" %}</th>
    <th>{% anchor seasonStatus Status %}</th>
    <th>{% anchor isCurrentSeason Current %}</th>
{% endblock %}

{% block listRow %}
	<td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
	<td>{{ object.seedingBeginDate }}</td>
	<td>{{ object.seasonEnd }}</td>
    <td>{{ object.seasonStatus }}</td>
    <td>{{ object.isCurrentSeason }}</td>
{% endblock %}
