{% extends "base.html" %}

{% block section %}Stats{% endblock %}

{% block tabs %}
	<ul class="tabs-nav">
	    <li{% block selectedTab1 %}{% endblock %}><a href="/stats"><span>Summary</span></a></li>
	    <li{% block selectedTab2 %}{% endblock %}><a href="/stats/seeding"><span>Seeding Stats</span></a></li>
	    <li{% block selectedTab3 %}{% endblock %}><a href="/stats/season"><span>Season Stats</span></a></li>
	    <li{% block selectedTab4 %}{% endblock %}><a href="/stats/record"><span>Record Stats</span></a></li>
	</ul>
{% endblock %}

