{% extends "core/generic_list.html" %}

{% load sorting_tags %}

{% block title %}Teams{% endblock %}
{% block createTitle %}Create Team{% endblock %}

{% block selectedTabTeams %} class="selected"{% endblock %}

{% block listHeader %}
	<th>{% anchor name %}</th>
    <th>{% anchor division %}</th>
    <th>{% anchor skillLevel Level %}</th>
    <th>{% anchor club %}</th>
{% endblock %}

{% block listRow %}
	<td><a href="detail/{{ object.pk }}">{{ object }}</a></td>
	<td>{{ object.division }}</td>
	<td>{{ object.skillLevel }}</td>
	<td>{{ object.club }}</td>
{% endblock %}
