{% extends "core/home.html" %}

{% block selectedTab1 %} class="tabs-selected"{% endblock %}

{% block section %}Home{% endblock %}
{% block title %}Summary{% endblock %}

{% block content %}

<h2 class="title">NIHL Season Scheduling and Statistics</h2>

<div id="rightColumn" style="float:right; width:30%; position:relative; margin-top:-20px;">
<h3 class="subtitle">Quick Links</h3>
	<ul>
		<li><a href="/schedule/matchups">View match ups and schedule games</a></li>
		<li><a href="/stats">View team statistics</a></li>
		<li><a href="/schedule">Browse upcoming games</a></li>
		<li><a href="/schedule/recent">Browse recent games</a></li>
		<li><a href="/help/faq">Read help pages</a></li>
	</ul>
</div>

<div id="middleColumn" style="float:right; width: 40%; position:relative; margin-top:-20px;">
	<h3 class="subtitle">Season Information</h3>
	<ul>
		<li><strong>{{ currentSeason }}</strong> is currently in <strong>{{ currentSeason.seasonStatus }}</strong> phase.</li>
		<li><b>{{ numTeams }}</b> team{% ifnotequal numTeams 1 %}s{% endifnotequal %} registered.</li>
		<li><b>{{ numGames }}</b> game{% ifnotequal numGames 1 %}s{% endifnotequal %} played.</li>
		{% if user.is_authenticated %}
			<li>Your team is: <a href="{{ user.get_profile.team.get_absolute_url }}">{{ user.get_profile.team }}</a></li>
		{% endif %}
		{% if user.is_authenticated %}
			<li>Your club is: <a href="{{ user.get_profile.club.get_absolute_url }}">{{ user.get_profile.club }}</a></li>
		{% endif %}
	</ul>
</div>

<div id="leftColumn" style="width:30%;">

	{% if user.is_authenticated %}
	<h3 class="subtitle">Reminders</h3>
		{% if reminders %}
			<ul>
				{% for object in reminders %}
					<li><a href="{{ object.url }}">{{ object.note }}</a></li>
				{% endfor %}
				<li><a href="/schedule/create">Enter home rink schedule</a></li>
			</ul>
		{% else %}
		You have no reminders.
		{% endif %}
	{% else %}
	<h3 class="subtitle">Login</h3>
		<form class="styled validate" method="post" action="{% url django.contrib.auth.views.login %}">
		<!--<legend class="primary first">Please Login</legend><br />-->
			<label for="id_username">Username</label><input id="id_username" type="text" name="username" maxlength="30" style="width:50%"/><br />
			<label for="id_password">Password</label> <input type="password" name="password" id="id_password"  style="width:50%"/><br />
			<a style="color:#104CA6;" href="/accounts/password_reset">Lost your password?</a><br />
			<input type="submit" value="Login" />
			<input type="hidden" name="next" value="{{ next }}" />         	
		</form>
	{% endif %}
</div>

<br />

<h3 class="subtitle">Recent Games</h3>
{% if events %}
<table style="width:100%;" class="records">
	<tr>
		<th colspan="2">Game</th>
		<th>Date and Time</th>
		<th>Rink</th>		
		<th>Status</th>
		<th>Score</th>
	</tr>
	{% for object in events %}
	<tr class="{% cycle 'row1' 'row2' %}">			
		<td><a href="/stats/event/{{ object.id }}"><img src="/static/images/icons/application_view_list.png" title="View Stats" /></a></td>
		<td><a href="/stats/event/{{ object.id }}">{{ object.homeTeam }} <i>v.</i> {{ object.awayTeam }}</a></td>
		<td>{{ object.dateTimeEvent|date:"M j, Y m:i A" }}</td>
		<td><a href="{{ object.rink.get_absolute_url }}">{{ object.rink }}</a></td>		
		<td>{{ object.eventStatus }}</td>
		<td>{{ object.score }}</td>
	</tr>	
	{% endfor %}
</table>	
{% else %}
	No Recent Games
{% endif %}

{% endblock %}

