{% extends "_base.htm" %}
{% block bodycontent %}
      <h2>New Account Request</h2>
      <p>
      Please enter your information below:
      </p>
      <table>
      <form method="post" action="/apply">
      <tr>
        <td><label for="name">Name:</label></td>
        <td><input type="text" id="name" name="name"/></td>
      </tr>
      <tr>
        <td><label for="account">Account:</label></td>
        <td><input type="text" id="account" name="account"/></td>
      </tr>
      <tr>
      	<td><label for="password">Password:</label></td>
      	<td><input type="password" id="password"name="password"/></td>
      </tr>
      <tr>
      <td><label for="email">Email:</label></td> 
      <td><input type="text" id="email" name="email"/></td>
      </tr>
      <tr>
      <td colspan="2"><input type="submit" name="Login"/></td> 
      </tr>
      </form>
      </table>
      {% ifnotequal error None %}
       <p>
       {{ error }}
       </p>
      {% endifnotequal %}
{% endblock %}
