body {
    font-size: 12px;
	font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
	margin: 0;
	padding: 0;
	text-align: center;
	clear: both;
	position: relative;
	background-color: #161378;
}

#container 
{
	width: 1000px;
	margin: 0 auto;
	margin-top: 2px;
	margin-bottom: 2px;
	position: relative;
	background-color: #ffffff;
}

#sidebar
{
	width: 200px;
	float: left;
	margin-top: 5px;
	margin-right:0px;
	text-align: left;
	border-right: 1px solid #000000;
	clear: none;
	background: #ffffff;
}

#subject 
{
	width: 625px;
	height: 400px;
	margin-left: 212px;
	margin-top: 5px;
	margin-right: 5px;
	clear: none;
	text-align: left;
	background: #ffffff;
	border: 1px solid #000;
	font-size: 12px;	
}

#subject_right
{
	width: 150px;
	height: 400px;
	float: right;
	clear: none;
	margin-right: 5px;
	margin-top: 5px;
	text-align: left;
	border: solid #000 1px;
	
}

#header {
	text-align: center;
    background-color: #dde;
    border-top: 3px solid #36c;
    height: 60px;
    overflow:hidden;
    margin-top: 5px;
}

#header h1 {
    font-size: 20px;
    float: left;
    vertical-align: middle;
    margin: 0;
    padding: 0 0 0 .3em;
}


#header h1 a {
    text-decoration: none;
    color: black;
}

#footer{
	height: 60px;
	background-color: #dde;
	color: #fff;
	border-bottom: 3px solid #36c;
	text-align: center;
	vertical-align: middle;
	margin-top: 5px;
	clear: both;
	width: auto;
}

#menu2 {
	width: 200px;
	margin: 10px;
	border-style: solid solid none solid;
	border-color: #D8D5D1;
	border-size: 1px;
	border-width: 1px;
	float: left;
	margin-top: 5px;
	margin-right:0px;
	margin-left: 5px;
	text-align: left;
	clear: none;
	background: #ffffff;
	}
	
#menu2 li a {
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
	}	
	
#menu2 li a:link, #menu2 li a:visited {
	color: #3688BA;
	display: block;
	background:  url('/static/images/menu2.gif');
	padding: 8px 0 0 30px;
	}
	
#menu2 li a:hover {
	color: #3688BA;
	background:  url('/static/images/menu2.gif') 0 -32px;
	padding: 8px 0 0 32px;
	}

/* ----- CLASSES ----- */

.hide{
}
.show{
}
.row1{
	background-color: #ffffff;
}
.row2{
	background-color: #999999;
}

.white{
	color: #ffffff;
}


h2 {
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	margin: 0px;
	padding: 0px 0px 0px 15px;
}
	
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}

img {
    border: none;
} 

p {
    margin: 20px 20px 20px 20px;
}



#header {
	text-align: center;
    background-color: #dde;
    border-top: 3px solid #36c;
    height: 60px;
    overflow:hidden;
    margin-top: 5px;
}

#header h1 {
    font-size: 20px;
    float: left;
    vertical-align: middle;
    margin: 0;
    padding: 0 0 0 .3em;
}


table {
  margin-left: 5px;
  border-collapse: collapse;
  border: 1px solid black;
}

th {
  text-align: left;
  border: 1px solid black;
  background: gray;
  color: white;
  padding: 0.2em;
}

td {
  border: 1px solid black;
  padding: 0.2em;
}

