{% extends "base.html" %}

{% block title %}Seasons{% endblock %}
{% block createTitle %}Season State Change{% endblock %}

{% block selectedTabSeasons %} class="selected"{% endblock %}

{% block content %}

<h2 class="title"><span style="color:#999;">Advance Season State: 
From </span>Preparation <span style="color:#999;">to</span> Scheduling Seeding Games</h2>

<h3 class="subtitle">Done!</h3>
<p>
	Season has been switched over to <b>Scheduling Seeding Games</b> stage, and the following tasks have been performed:
</p>
<ul>
	<li>Matchmaking for seeding round.</li>
	<li>All team managers have been sent invitations to register with the system.</li>
</ul>

<div style="text-align:center; margin-top:50px;">
	<a href="/seasons">Return to Season Management page</a>
</div>

{% endblock %}