{% extends "core/generic_list.html" %}

{% load sorting_tags %}

{% block title %}Accounts{% endblock %}
{% block createTitle %}Create Account{% endblock %}

{% block selectedTabAccounts %} class="selected"{% endblock %}


{% block listHeader %}
	<th>{% anchor username %}</th>
    <th>{% anchor get_full_name "Full Name" %}</th>
    <th>{% anchor email %}</th>
    <th>{% anchor team %}</th>
    <th>{% anchor groups %}</th>
    <th>{% anchor is_active "Active" %}</th>
{% endblock %}

{% block listRow %}
	<td><a href="detail/{{ object.pk }}">{{ object.username }}</a></td>
	<td>{{ object.get_full_name }}</td>
	<td>{{ object.email }}</td>
	<td><a href="{{ object.get_profile.team.get_absolute_url }}">{{ object.get_profile.team }}</a></td>
	<td>{{ object.groups.all }}</td>
	<td>{{ object.is_active }}</td>
{% endblock %}
